Rapid Prd/src/flows/Not_Interested_Flow-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Able_to_get_funds_elsewhere</name>
        <choiceText>Able to get funds elsewhere</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Able to get funds elsewhere</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auto_Loan</name>
        <choiceText>Auto Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto Loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Commercial_Loan</name>
        <choiceText>Commercial Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial Loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_Card</name>
        <choiceText>Credit Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>Factoring</name>
        <choiceText>Factoring</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Factoring</stringValue>
        </value>
    </choices>
    <choices>
        <name>Looking_for_other_financing</name>
        <choiceText>Looking for other financing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Looking for other financing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mortgage</name>
        <choiceText>Mortgage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mortgage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_looking_for_funds</name>
        <choiceText>Not looking for funds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not looking for funds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_selected</name>
        <choiceText>Not selected</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherFinancing</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Personal_Loan</name>
        <choiceText>Personal Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal Loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repayment_options</name>
        <choiceText>Repayment options</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repayment options</stringValue>
        </value>
    </choices>
    <choices>
        <name>SBA_Loan</name>
        <choiceText>SBA Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SBA Loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Student_Loan</name>
        <choiceText>Student Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Student Loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Term_too_short</name>
        <choiceText>Term too short</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Term too short</stringValue>
        </value>
    </choices>
    <choices>
        <name>Too_Expensive</name>
        <choiceText>Too Expensive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Too Expensive</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Not_Interested_Reason_Decision</name>
        <label>Not Interested Reason Decision</label>
        <locationX>559</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Record_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>OtherFinancingDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Not_Interested_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Looking_for_other_financing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Financing</targetReference>
            </connector>
            <label>OtherFinancingDecision</label>
        </rules>
    </decisions>
    <interviewLabel>Not Interested Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Not Interested Flow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lead_Lookup</name>
        <label>Lead Lookup</label>
        <locationX>561</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Not_Interested_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordUpdates>
        <name>Record_Update</name>
        <label>Record Update</label>
        <locationX>563</locationX>
        <locationY>386</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Not_Interested_Reason__c</field>
            <value>
                <elementReference>Not_Interested_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Financing__c</field>
            <value>
                <elementReference>What_other_type_of_financing_are_you_looking_for</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>LeadStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Not_Interested_Screen</name>
        <label>Not Interested Screen</label>
        <locationX>563</locationX>
        <locationY>162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Not_Interested_Reason_Decision</targetReference>
        </connector>
        <fields>
            <name>Not_Interested_Reason</name>
            <choiceReferences>Able_to_get_funds_elsewhere</choiceReferences>
            <choiceReferences>Too_Expensive</choiceReferences>
            <choiceReferences>Term_too_short</choiceReferences>
            <choiceReferences>Looking_for_other_financing</choiceReferences>
            <choiceReferences>Not_looking_for_funds</choiceReferences>
            <choiceReferences>Repayment_options</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Not Interested Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Other_Financing</name>
        <label>Other Financing</label>
        <locationX>921</locationX>
        <locationY>324</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Record_Update</targetReference>
        </connector>
        <fields>
            <name>What_other_type_of_financing_are_you_looking_for</name>
            <choiceReferences>Not_selected</choiceReferences>
            <choiceReferences>Factoring</choiceReferences>
            <choiceReferences>Student_Loan</choiceReferences>
            <choiceReferences>Auto_Loan</choiceReferences>
            <choiceReferences>Personal_Loan</choiceReferences>
            <choiceReferences>Mortgage</choiceReferences>
            <choiceReferences>SBA_Loan</choiceReferences>
            <choiceReferences>Commercial_Loan</choiceReferences>
            <choiceReferences>Credit_Card</choiceReferences>
            <choiceReferences>OtherFinancing</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Not_selected</defaultSelectedChoiceReference>
            <fieldText>What other type of financing are you looking for?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>565</locationX>
        <locationY>484</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessPage</name>
            <fieldText>Lead has been succesfully marked as not interested</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Lead_Lookup</startElementReference>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Not Interested</stringValue>
        </value>
    </variables>
</Flow>
