Rapid Prd/src/flows/Not_Interested_Flow-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Able_to_get_funds_elsewhere</name>
        <choiceText>Able to get funds elsewhere</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Able to get funds elsewhere</stringValue>
        </value>
    </choices>
    <choices>
        <name>Looking_for_other_financing</name>
        <choiceText>Looking for other financing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Looking for other financing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Term_too_short</name>
        <choiceText>Term too short</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Term too short</stringValue>
        </value>
    </choices>
    <choices>
        <name>Too_Expensive</name>
        <choiceText>Too Expensive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Too Expensive</stringValue>
        </value>
    </choices>
    <interviewLabel>Not Interested Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Not Interested Flow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lead_Lookup</name>
        <label>Lead Lookup</label>
        <locationX>561</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Not_Interested_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordUpdates>
        <name>Record_Update</name>
        <label>Record Update</label>
        <locationX>565</locationX>
        <locationY>285</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Not_Interested_Reason__c</field>
            <value>
                <elementReference>Not_Interested_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>LeadStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Not_Interested_Screen</name>
        <label>Not Interested Screen</label>
        <locationX>563</locationX>
        <locationY>162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Record_Update</targetReference>
        </connector>
        <fields>
            <name>Not_Interested_Reason</name>
            <choiceReferences>Able_to_get_funds_elsewhere</choiceReferences>
            <choiceReferences>Too_Expensive</choiceReferences>
            <choiceReferences>Term_too_short</choiceReferences>
            <choiceReferences>Looking_for_other_financing</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Not Interested Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>563</locationX>
        <locationY>391</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessPage</name>
            <fieldText>Lead has been succesfully marked as not interested</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Lead_Lookup</startElementReference>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Not Interested</stringValue>
        </value>
    </variables>
</Flow>
