Rapid Prd/src/flows/Unqualification_Flow_Testing-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Adult_Entertainment</name>
        <choiceText>Adult Entertainment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Adult Entertainment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Anovia</name>
        <choiceText>Anovia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Anovia</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR</name>
        <choiceText>AR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Automobile_Dealerships_New_Used</name>
        <choiceText>Automobile Dealerships New/Used</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Automobile Dealerships New/Used (1/1/09)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bail_Bonds</name>
        <choiceText>Bail Bonds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bail Bonds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_Closed</name>
        <choiceText>Business Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_for_Sale</name>
        <choiceText>Business for Sale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business for Sale</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_on_sanctions_list</name>
        <choiceText>Business on sanctions list</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business on sanctions list</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_to_business</name>
        <choiceText>Business-to-business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business-to-business</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_to_consumer</name>
        <choiceText>Business-to-consumer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business-to-consumer</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Corporation</name>
        <choiceText>C-Corporation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C-Corporation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Car_service_Uber_Lyft_etc</name>
        <choiceText>Car service (Uber, Lyft, etc)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Car service (Uber, Lyft, etc)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Casinos</name>
        <choiceText>Casinos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Casinos</stringValue>
        </value>
    </choices>
    <choices>
        <name>Churches</name>
        <choiceText>Churches</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Churches</stringValue>
        </value>
    </choices>
    <choices>
        <name>Collection_agencies</name>
        <choiceText>Collection agencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Collection agencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Competitor_Balance_Too_High</name>
        <choiceText>Competitor Balance Too High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Competitor Balance Too High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consumer_Credit_Counseling_Services</name>
        <choiceText>Consumer Credit Counseling Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consumer Credit Counseling Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Multi_Level_Marketing</name>
        <choiceText>Direct/Multi Level Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct/Multi Level Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Does_not_accept_credit_cards</name>
        <choiceText>Does not accept credit cards</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Does not accept credit cards</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finished_Goods</name>
        <choiceText>Finished Goods</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finished Goods</stringValue>
        </value>
    </choices>
    <choices>
        <name>Firearms</name>
        <choiceText>Firearms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Firearms</stringValue>
        </value>
    </choices>
    <choices>
        <name>Flea_Market</name>
        <choiceText>Flea Market</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flea Market</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Partnership</name>
        <choiceText>General Partnership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Partnership</stringValue>
        </value>
    </choices>
    <choices>
        <name>Home_Based_Business</name>
        <choiceText>Home Based Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Home Based Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>Home_Based_Door_Door</name>
        <choiceText>Home Based Door/Door</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Home Based Door/Door</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insurance</name>
        <choiceText>Insurance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kiosks</name>
        <choiceText>Kiosks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kiosks</stringValue>
        </value>
    </choices>
    <choices>
        <name>Law_Firms</name>
        <choiceText>Law Firms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Law Firms</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lendio</name>
        <choiceText>Lendio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lendio</stringValue>
        </value>
    </choices>
    <choices>
        <name>Less_than_10_months</name>
        <choiceText>Less than 10 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than 10 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>Limited_Liability_Company</name>
        <choiceText>Limited Liability Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Limited Liability Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Limited_Liability_Partnership</name>
        <choiceText>Limited Liability Partnership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Limited Liability Partnership</stringValue>
        </value>
    </choices>
    <choices>
        <name>Limited_Parternship</name>
        <choiceText>Limited Parternship</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Limited Parternship</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marijuana_dispensaries_producers_distributors</name>
        <choiceText>Marijuana dispensaries, producers, distributors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marijuana dispensaries, producers, distributors</stringValue>
        </value>
    </choices>
    <choices>
        <name>Maxim</name>
        <choiceText>Maxim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Maxim</stringValue>
        </value>
    </choices>
    <choices>
        <name>Money_services_businesses</name>
        <choiceText>Money services businesses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Money services businesses</stringValue>
        </value>
    </choices>
    <choices>
        <name>N</name>
        <choiceText>N</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Profits</name>
        <choiceText>Non-Profits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Profits</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Entered</name>
        <choiceText>Not Entered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Entered</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Selected</name>
        <choiceText>Not Selected</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Not_the_Owner</name>
        <choiceText>Not the Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not the Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pay_day_loan_companies</name>
        <choiceText>Pay day loan companies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay day loan companies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prohibited_Business_Type</name>
        <choiceText>Prohibited Business Type</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prohibited Business Type</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proprietorship</name>
        <choiceText>Proprietorship</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proprietorship</stringValue>
        </value>
    </choices>
    <choices>
        <name>Purchase_truck</name>
        <choiceText>Purchase truck</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Purchase truck</stringValue>
        </value>
    </choices>
    <choices>
        <name>Raw_Materials</name>
        <choiceText>Raw Materials</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Raw Materials</stringValue>
        </value>
    </choices>
    <choices>
        <name>Real_estate</name>
        <choiceText>Real estate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Real estate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repair_truck</name>
        <choiceText>Repair truck</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repair truck</stringValue>
        </value>
    </choices>
    <choices>
        <name>RocketLoans</name>
        <choiceText>RocketLoans</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RocketLoans</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_Corporation</name>
        <choiceText>S-Corporation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>S-Corporation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Starting_a_business</name>
        <choiceText>Starting a business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Start Up Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>Travel_Agencies</name>
        <choiceText>Travel Agencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Travel Agencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Trucking</name>
        <choiceText>Trucking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trucking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Virtual_currency_exchange</name>
        <choiceText>Virtual currency exchange</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Virtual currency exchange</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wireless_Phone_Accessories</name>
        <choiceText>Wireless Phone/Accessories</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wireless Phone/Accessories</stringValue>
        </value>
    </choices>
    <choices>
        <name>Work_In_Progress</name>
        <choiceText>Work In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Work In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y</name>
        <choiceText>Y</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Additional_trucking_questions</name>
        <label>Additional trucking questions</label>
        <locationX>539</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>Additional_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Industry_Trucking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Trucking</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trucking_questions</targetReference>
            </connector>
            <label>Industry - Trucking</label>
        </rules>
    </decisions>
    <decisions>
        <name>B2B_additional_questions</name>
        <label>B2B additional questions</label>
        <locationX>655</locationX>
        <locationY>679</locationY>
        <defaultConnector>
            <targetReference>Potential_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>B2B_Questions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Business_Model</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Business_to_business</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Unqualified_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Not_the_Owner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Unqualified_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Business_for_Sale</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Unqualified_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Competitor_Balance_Too_High</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Unqualified_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Home_Based_Business</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Industry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Trucking</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Industry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Adult_Entertainment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Industry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Churches</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Industry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Collection_agencies</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Industry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Law_Firms</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Industry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Money_services_businesses</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Industry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Car_service_Uber_Lyft_etc</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Industry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Business_on_sanctions_list</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Industry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Virtual_currency_exchange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inventory_Questions</targetReference>
            </connector>
            <label>B2B - Questions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Potential_Transfer</name>
        <label>Potential Transfer</label>
        <locationX>906</locationX>
        <locationY>785</locationY>
        <defaultConnector>
            <targetReference>Transfer_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Transfer_No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quicken Loans - Hot Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rock Connections - Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quicken Loans</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampaignName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Office Depot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Update_1</targetReference>
            </connector>
            <label>Transfer - No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unqualified_reason_decision</name>
        <label>Unqualified reason decision</label>
        <locationX>655</locationX>
        <locationY>279</locationY>
        <defaultConnector>
            <targetReference>Additional_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Prohibited_Business_Type_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unqualified_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prohibited Business Type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prohibited_Industries</targetReference>
            </connector>
            <label>Prohibited Business Type</label>
        </rules>
        <rules>
            <name>Competitor_Balance_Too_High_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unqualified_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Competitor Balance Too High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Competitor_Balance</targetReference>
            </connector>
            <label>Competitor Balance Too High</label>
        </rules>
        <rules>
            <name>Home_Based_Business_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unqualified_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Based Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Home_Based_Business_Screen</targetReference>
            </connector>
            <label>Home Based Business</label>
        </rules>
        <rules>
            <name>Does_not_accept_credit_cards_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unqualified_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Does not accept credit cards</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_not_accept_credit_cards_screen</targetReference>
            </connector>
            <label>Does_not_accept_credit_cards</label>
        </rules>
        <rules>
            <name>Start_up_business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unqualified_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Starting_a_business</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Potential_Transfer</targetReference>
            </connector>
            <label>Start up business</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AcceptsCreditCards_options</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Accepts_Credit_Cards__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AccountsReceivable</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_have_accounts_receivable__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IndustryValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InventoryStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inventory_status__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProhibitedBusinessType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Prohibited_Business_Type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TransferPartners</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Partners__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CCProcessor</name>
        <dataType>String</dataType>
        <expression>IF(AND(
OR({!Accept_credit_cards_1} = &quot;Y&quot;,NOT(ISBLANK({!Monthly_credit_card_sales}))),
{!Does_client_want_to_switch_CC_processor} = &quot;Y&quot;
),
&quot;&lt;img src = &apos;/servlet/servlet.FileDownload?file=01539000002vsHo&apos;/&gt;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>TransferInfo</name>
        <dataType>String</dataType>
        <expression>IF({!Unqualified_Reason}=&quot;Starting a business&quot;,&quot;&lt;img src = &apos;/servlet/servlet.FileDownload?file=01539000003HTd1&apos;/&gt;&quot;,
IF(AND({!Unqualified_Reason}=&quot;Prohibited Business Type&quot;,{!Industry}=&quot;Trucking&quot;,{!Purpose_of_funds}=&quot;Purchase truck&quot;),&quot;&lt;img src = &apos;/servlet/servlet.FileDownload?file=01539000002vsHj&apos;/&gt;&quot;,
IF(
AND({!Business_Model} = &quot;Business-to-business&quot;,
OR({!Accounts_receivable_amount}&gt;=10000.00,{!Value_of_inventory}&gt;10000.00)),
&quot;&lt;img src = &apos;/servlet/servlet.FileDownload?file=01539000003UBj2&apos;/&gt;&quot;,
&quot;&lt;img src = &apos;/servlet/servlet.FileDownload?file=01539000003HTcw&apos;/&gt;&quot;  )))</expression>
    </formulas>
    <interviewLabel>Unqualification Flow Testing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unqualification Flow Testing</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lead_Lookup</name>
        <label>Lead Lookup</label>
        <locationX>655</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unqualification_Reasons</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>AccountsReceivableCurrent</assignToReference>
            <field>Accounts_Receivable__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AdvanceAmountRequested</assignToReference>
            <field>Advance_Amount_Requested__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CampaignName</assignToReference>
            <field>Campaign_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BusinessOpenDate</assignToReference>
            <field>DateBusinessStarted__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrossMonthlySales</assignToReference>
            <field>Gross_Monthly_Sales_Cur__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TrucksOwned</assignToReference>
            <field>How_many_trucks_do_they_own__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CDLYears</assignToReference>
            <field>How_many_years_have_they_had_a_CDL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadSource</assignToReference>
            <field>LeadSource</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MonthlyCreditCardSales</assignToReference>
            <field>Monthly_Credit_Card_Sales__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>State</assignToReference>
            <field>State</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ValueOfInventoryCurrent</assignToReference>
            <field>Value_of_inventory__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Lead_Update_1</name>
        <label>Lead Update 1</label>
        <locationX>661</locationX>
        <locationY>956</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepts_Credit_Cards__c</field>
            <value>
                <elementReference>Accept_credit_cards_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounts_Receivable__c</field>
            <value>
                <elementReference>Accounts_receivable_amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advance_Amount_Requested__c</field>
            <value>
                <elementReference>Amount_requested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_model__c</field>
            <value>
                <elementReference>Business_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_balance_amount__c</field>
            <value>
                <elementReference>Competitor_balance_amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateBusinessStarted__c</field>
            <value>
                <elementReference>Business_Open_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_have_a_warehouse_or_storage__c</field>
            <value>
                <elementReference>Do_you_have_an_external_warehouse_or_storage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_have_accounts_receivable__c</field>
            <value>
                <elementReference>Do_you_have_accounts_receivable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity_Type__c</field>
            <value>
                <elementReference>Entity_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gross_Monthly_Sales_Cur__c</field>
            <value>
                <elementReference>Gross_Monthly_Sales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_many_trucks_do_they_own__c</field>
            <value>
                <elementReference>How_many_trucks_do_they_own</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_many_years_have_they_had_a_CDL__c</field>
            <value>
                <elementReference>How_many_years_have_they_had_a_CDL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory_status__c</field>
            <value>
                <elementReference>Inventory_status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Credit_Card_Sales__c</field>
            <value>
                <elementReference>Monthly_credit_card_sales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_W_2_employees__c</field>
            <value>
                <elementReference>Number_of_W_2_employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partners__c</field>
            <value>
                <elementReference>Transfer_Partners</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prohibited_Business_Type__c</field>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_of_Funds__c</field>
            <value>
                <elementReference>Purpose_of_funds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>State_choice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>LeadStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Switch_CC_Processor__c</field>
            <value>
                <elementReference>Does_client_want_to_switch_CC_processor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Reason__c</field>
            <value>
                <elementReference>Unqualified_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value_of_inventory__c</field>
            <value>
                <elementReference>Value_of_inventory</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Accounts_Receivable_Questions</name>
        <label>Accounts Receivable Questions</label>
        <locationX>409</locationX>
        <locationY>777</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Potential_Transfer</targetReference>
        </connector>
        <fields>
            <name>ArDefinition</name>
            <fieldText>Accounts Receivable is money owed to a company by its debtors. Company has made the sale but has yet to collect the money from purchaser</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BlankText5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_have_accounts_receivable</name>
            <choiceReferences>AR_Yes</choiceReferences>
            <choiceReferences>AR_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have accounts receivable?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BlankText1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ArAmount</name>
            <fieldText>Enter the approximate amount of money the company is still expecting to receive from their sales</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BlankText6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Accounts_receivable_amount</name>
            <dataType>Currency</dataType>
            <fieldText>Accounts receivable amount?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Additional_Questions</name>
        <label>Additional Questions</label>
        <locationX>653</locationX>
        <locationY>592</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>B2B_additional_questions</targetReference>
        </connector>
        <fields>
            <name>Business_Open_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>BusinessOpenDate</elementReference>
            </defaultValue>
            <fieldText>Business Open Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gross_Monthly_Sales</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>GrossMonthlySales</elementReference>
            </defaultValue>
            <fieldText>Gross Monthly Sales</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Accept_credit_cards_1</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <choiceReferences>Not_Selected</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Not_Selected</defaultSelectedChoiceReference>
            <fieldText>Accept credit cards?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Monthly_credit_card_sales</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>MonthlyCreditCardSales</elementReference>
            </defaultValue>
            <fieldText>Monthly credit card sales</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Does_client_want_to_switch_CC_processor</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <choiceReferences>Not_Selected</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Not_Selected</defaultSelectedChoiceReference>
            <fieldText>Does client want to switch CC processor?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Competitor_Balance</name>
        <label>Competitor Balance</label>
        <locationX>832</locationX>
        <locationY>432</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_Questions</targetReference>
        </connector>
        <fields>
            <name>Competitor_balance_amount</name>
            <dataType>Currency</dataType>
            <fieldText>Competitor balance amount?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Does_not_accept_credit_cards_screen</name>
        <label>Does not accept credit cards screen</label>
        <locationX>4</locationX>
        <locationY>459</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_Questions</targetReference>
        </connector>
        <fields>
            <name>State_choice</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>State</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Entity_Type</name>
            <choiceReferences>Not_Selected</choiceReferences>
            <choiceReferences>Limited_Liability_Company</choiceReferences>
            <choiceReferences>Proprietorship</choiceReferences>
            <choiceReferences>C_Corporation</choiceReferences>
            <choiceReferences>S_Corporation</choiceReferences>
            <choiceReferences>General_Partnership</choiceReferences>
            <choiceReferences>Limited_Liability_Partnership</choiceReferences>
            <choiceReferences>Limited_Parternship</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Not_Selected</defaultSelectedChoiceReference>
            <fieldText>Entity Type?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Home_Based_Business_Screen</name>
        <label>Home Based Business Screen</label>
        <locationX>1164</locationX>
        <locationY>427</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_Questions</targetReference>
        </connector>
        <fields>
            <name>Number_of_W_2_employees</name>
            <dataType>Number</dataType>
            <fieldText>Number of W-2 employees?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Do_you_have_an_external_warehouse_or_storage</name>
            <choiceReferences>Not_Selected</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Not_Selected</defaultSelectedChoiceReference>
            <fieldText>Do you have an external warehouse or storage?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Inventory_Questions</name>
        <label>Inventory Questions</label>
        <locationX>409</locationX>
        <locationY>683</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Accounts_Receivable_Questions</targetReference>
        </connector>
        <fields>
            <name>InventoryDefinition</name>
            <fieldText>Inventory refers to the good and materials that a buiness holds for the ultimate purpose of resale. Ex: property, goods in stock, supplies, contents of building etc.

Enter the approximate value of the inventory the business currently holds (dollar amount)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BlankText3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Value_of_inventory</name>
            <dataType>Currency</dataType>
            <fieldText>Value of inventory?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>BlankText2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InventoryStatusDescription</name>
            <fieldText>Select the option that reflects the status of the majority of their inventory:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BlankText4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inventory_status</name>
            <choiceReferences>Raw_Materials</choiceReferences>
            <choiceReferences>Work_In_Progress</choiceReferences>
            <choiceReferences>Finished_Goods</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Inventory status?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Prohibited_Industries</name>
        <label>Prohibited Industries</label>
        <locationX>538</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_trucking_questions</targetReference>
        </connector>
        <fields>
            <name>Industry</name>
            <choiceReferences>Trucking</choiceReferences>
            <choiceReferences>Adult_Entertainment</choiceReferences>
            <choiceReferences>Bail_Bonds</choiceReferences>
            <choiceReferences>Casinos</choiceReferences>
            <choiceReferences>Churches</choiceReferences>
            <choiceReferences>Collection_agencies</choiceReferences>
            <choiceReferences>Direct_Multi_Level_Marketing</choiceReferences>
            <choiceReferences>Firearms</choiceReferences>
            <choiceReferences>Law_Firms</choiceReferences>
            <choiceReferences>Marijuana_dispensaries_producers_distributors</choiceReferences>
            <choiceReferences>Money_services_businesses</choiceReferences>
            <choiceReferences>Car_service_Uber_Lyft_etc</choiceReferences>
            <choiceReferences>Non_Profits</choiceReferences>
            <choiceReferences>Business_on_sanctions_list</choiceReferences>
            <choiceReferences>Virtual_currency_exchange</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <choiceReferences>Not_Entered</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Not_Entered</defaultSelectedChoiceReference>
            <fieldText>Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>662</locationX>
        <locationY>1043</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessPage</name>
            <fieldText>Lead has been succesfully marked as unqualified</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Transfer_Screen</name>
        <label>Transfer Screen</label>
        <locationX>902</locationX>
        <locationY>899</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lead_Update_1</targetReference>
        </connector>
        <fields>
            <name>TransferInstructions</name>
            <fieldText>Transfer this lead to the below Partner:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransferDetails</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!TransferInfo}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CCProcessorDetails</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CCProcessor}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BlankText7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransferInstructions1</name>
            <fieldText>Based on the image please select an option from the &quot;Transfer Partners&quot; field and move it to the right.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Transfer_Partners</name>
            <choiceReferences>Lendio</choiceReferences>
            <choiceReferences>AR</choiceReferences>
            <choiceReferences>Anovia</choiceReferences>
            <choiceReferences>Maxim</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Transfer Partners</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Trucking_questions</name>
        <label>Trucking questions</label>
        <locationX>298</locationX>
        <locationY>451</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_Questions</targetReference>
        </connector>
        <fields>
            <name>Purpose_of_funds</name>
            <choiceReferences>Repair_truck</choiceReferences>
            <choiceReferences>Purchase_truck</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <choiceReferences>Not_Selected</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Not_Selected</defaultSelectedChoiceReference>
            <fieldText>Purpose of funds</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_many_years_have_they_had_a_CDL</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>CDLYears</elementReference>
            </defaultValue>
            <fieldText>How many years have they had a CDL?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>How_many_trucks_do_they_own</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>TrucksOwned</elementReference>
            </defaultValue>
            <fieldText>How many trucks do they own?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Amount_requested</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>AdvanceAmountRequested</elementReference>
            </defaultValue>
            <fieldText>Amount requested?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Unqualification_Reasons</name>
        <label>Unqualification Reasons</label>
        <locationX>654</locationX>
        <locationY>185</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Unqualified_reason_decision</targetReference>
        </connector>
        <fields>
            <name>Unqualified_Reason</name>
            <choiceReferences>Business_Closed</choiceReferences>
            <choiceReferences>Business_for_Sale</choiceReferences>
            <choiceReferences>Does_not_accept_credit_cards</choiceReferences>
            <choiceReferences>Competitor_Balance_Too_High</choiceReferences>
            <choiceReferences>Home_Based_Business</choiceReferences>
            <choiceReferences>Less_than_10_months</choiceReferences>
            <choiceReferences>Not_the_Owner</choiceReferences>
            <choiceReferences>Prohibited_Business_Type</choiceReferences>
            <choiceReferences>Starting_a_business</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unqualified Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Business_Model</name>
            <choiceReferences>Business_to_business</choiceReferences>
            <choiceReferences>Business_to_consumer</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Business_to_consumer</defaultSelectedChoiceReference>
            <fieldText>Business Model</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Lead_Lookup</startElementReference>
    <variables>
        <name>AcceptsCreditCards</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountsReceivableCurrent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AdvanceAmountRequested</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>BusinessOpenDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CampaignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CDL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CDLYears</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GrossMonthlySales</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Unqualified</stringValue>
        </value>
    </variables>
    <variables>
        <name>MonthlyCreditCardSales</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TrucksOwned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ValueOfInventoryCurrent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
