Rapid Prd/src/flows/Unqualification_Flow-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Adult_Entertainment</name>
        <choiceText>Adult Entertainment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Adult Entertainment</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Automobile_Dealerships_New_Used</name>
        <choiceText>Automobile Dealerships New/Used</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Automobile Dealerships New/Used (1/1/09)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bail_Bonds</name>
        <choiceText>Bail Bonds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bail Bonds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_Closed</name>
        <choiceText>Business Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_for_Sale</name>
        <choiceText>Business for Sale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business for Sale</stringValue>
        </value>
    </choices>
    <choices>
        <name>Casinos</name>
        <choiceText>Casinos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Casinos</stringValue>
        </value>
    </choices>
    <choices>
        <name>Churches</name>
        <choiceText>Churches</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Churches</stringValue>
        </value>
    </choices>
    <choices>
        <name>Collection_agencies</name>
        <choiceText>Collection agencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Collection agencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Competitor_Balance_Too_High</name>
        <choiceText>Competitor Balance Too High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Competitor Balance Too High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consumer_Credit_Counseling_Services</name>
        <choiceText>Consumer Credit Counseling Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consumer Credit Counseling Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Multi_Level_Marketing</name>
        <choiceText>Direct/Multi Level Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct/Multi Level Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Does_not_accept_credit_cards</name>
        <choiceText>Does not accept credit cards</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Does not accept credit cards</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finished_Goods</name>
        <choiceText>Finished Goods</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finished Goods</stringValue>
        </value>
    </choices>
    <choices>
        <name>Firearms</name>
        <choiceText>Firearms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Firearms</stringValue>
        </value>
    </choices>
    <choices>
        <name>Flea_Market</name>
        <choiceText>Flea Market</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flea Market</stringValue>
        </value>
    </choices>
    <choices>
        <name>Home_Based_Business</name>
        <choiceText>Home Based Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Home Based Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>Home_Based_Door_Door</name>
        <choiceText>Home Based Door/Door</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Home Based Door/Door</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insurance</name>
        <choiceText>Insurance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kiosks</name>
        <choiceText>Kiosks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kiosks</stringValue>
        </value>
    </choices>
    <choices>
        <name>Law_Firms</name>
        <choiceText>Law Firms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Law Firms</stringValue>
        </value>
    </choices>
    <choices>
        <name>Less_than_1_Year</name>
        <choiceText>Less than 1 Year</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than 1 Year</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marijuana_dispensaries_producers_distributors</name>
        <choiceText>Marijuana dispensaries, producers, distributors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marijuana dispensaries, producers, distributors</stringValue>
        </value>
    </choices>
    <choices>
        <name>Money_services_businesses</name>
        <choiceText>Money services businesses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Money services businesses</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_the_Owner</name>
        <choiceText>Not the Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not the Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pay_day_loan_companies</name>
        <choiceText>Pay day loan companies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay day loan companies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prohibited_Business_Type</name>
        <choiceText>Prohibited Business Type</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prohibited Business Type</stringValue>
        </value>
    </choices>
    <choices>
        <name>Raw_Materials</name>
        <choiceText>Raw Materials</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Raw Materials</stringValue>
        </value>
    </choices>
    <choices>
        <name>Real_estate</name>
        <choiceText>Real estate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Real estate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Travel_Agencies</name>
        <choiceText>Travel Agencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Travel Agencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Trucking</name>
        <choiceText>Trucking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trucking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wireless_Phone_Accessories</name>
        <choiceText>Wireless Phone/Accessories</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wireless Phone/Accessories</stringValue>
        </value>
    </choices>
    <choices>
        <name>Work_In_Progress</name>
        <choiceText>Work In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Work In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Unqualified_reason_decision</name>
        <label>Unqualified reason decision</label>
        <locationX>653</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>Additional_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Prohibited_Business_Type_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unqualified_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prohibited Business Type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prohibited_Industries</targetReference>
            </connector>
            <label>Prohibited Business Type</label>
        </rules>
        <rules>
            <name>Competitor_Balance_Too_High_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unqualified_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Competitor Balance Too High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Competitor_Balance</targetReference>
            </connector>
            <label>Competitor Balance Too High</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AcceptsCreditCards_options</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Accepts_Credit_Cards__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AccountsReceivable</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_have_accounts_receivable__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InventoryStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inventory_status__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProhibitedBusinessType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Prohibited_Business_Type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Unqualification Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unqualification Flow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lead_Lookup</name>
        <label>Lead Lookup</label>
        <locationX>655</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unqualification_Reasons</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>AcceptsCreditCards</assignToReference>
            <field>Accepts_Credit_Cards__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BusinessOpenDate</assignToReference>
            <field>DateBusinessStarted__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrossMonthlySales</assignToReference>
            <field>Gross_Monthly_Sales_Cur__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Lead_Update_1</name>
        <label>Lead Update 1</label>
        <locationX>665</locationX>
        <locationY>826</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepts_Credit_Cards__c</field>
            <value>
                <elementReference>Accept_credit_cards</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounts_Receivable_Amount__c</field>
            <value>
                <elementReference>Accounts_receivable_amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_balance_amount__c</field>
            <value>
                <elementReference>Competitor_balance_amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateBusinessStarted__c</field>
            <value>
                <elementReference>BusinessOpenDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_have_accounts_receivable__c</field>
            <value>
                <elementReference>Do_you_have_accounts_receivable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gross_Monthly_Sales_Cur__c</field>
            <value>
                <elementReference>GrossMonthlySales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_much_inventory_do_you_have__c</field>
            <value>
                <elementReference>How_much_inventory_do_you_have</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory_status__c</field>
            <value>
                <elementReference>Inventory_status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prohibited_Business_Type__c</field>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>LeadStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Reason__c</field>
            <value>
                <elementReference>Unqualified_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Accounts_Receivable_Questions</name>
        <label>Accounts Receivable Questions</label>
        <locationX>666</locationX>
        <locationY>739</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lead_Update_1</targetReference>
        </connector>
        <fields>
            <name>Do_you_have_accounts_receivable</name>
            <choiceReferences>AR_Yes</choiceReferences>
            <choiceReferences>AR_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have accounts receivable?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Accounts_receivable_amount</name>
            <dataType>Currency</dataType>
            <fieldText>Accounts receivable amount?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Additional_Questions</name>
        <label>Additional Questions</label>
        <locationX>668</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Inventory_Questions</targetReference>
        </connector>
        <fields>
            <name>Business_Open_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>BusinessOpenDate</elementReference>
            </defaultValue>
            <fieldText>Business Open Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gross_Monthly_Sales</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>GrossMonthlySales</elementReference>
            </defaultValue>
            <fieldText>Gross Monthly Sales</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Accept_credit_cards</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Accept credit cards?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Competitor_Balance</name>
        <label>Competitor Balance</label>
        <locationX>896</locationX>
        <locationY>423</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_Questions</targetReference>
        </connector>
        <fields>
            <name>Competitor_balance_amount</name>
            <dataType>Currency</dataType>
            <fieldText>Competitor balance amount?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Inventory_Questions</name>
        <label>Inventory Questions</label>
        <locationX>664</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Accounts_Receivable_Questions</targetReference>
        </connector>
        <fields>
            <name>How_much_inventory_do_you_have</name>
            <dataType>Number</dataType>
            <fieldText>How much inventory do you have?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Inventory_status</name>
            <choiceReferences>Raw_Materials</choiceReferences>
            <choiceReferences>Work_In_Progress</choiceReferences>
            <choiceReferences>Finished_Goods</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Inventory status?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Prohibited_Industries</name>
        <label>Prohibited Industries</label>
        <locationX>400</locationX>
        <locationY>426</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_Questions</targetReference>
        </connector>
        <fields>
            <name>Industry</name>
            <choiceReferences>Trucking</choiceReferences>
            <choiceReferences>Adult_Entertainment</choiceReferences>
            <choiceReferences>Automobile_Dealerships_New_Used</choiceReferences>
            <choiceReferences>Bail_Bonds</choiceReferences>
            <choiceReferences>Casinos</choiceReferences>
            <choiceReferences>Churches</choiceReferences>
            <choiceReferences>Collection_agencies</choiceReferences>
            <choiceReferences>Consumer_Credit_Counseling_Services</choiceReferences>
            <choiceReferences>Direct_Multi_Level_Marketing</choiceReferences>
            <choiceReferences>Firearms</choiceReferences>
            <choiceReferences>Flea_Market</choiceReferences>
            <choiceReferences>Home_Based_Door_Door</choiceReferences>
            <choiceReferences>Insurance</choiceReferences>
            <choiceReferences>Kiosks</choiceReferences>
            <choiceReferences>Law_Firms</choiceReferences>
            <choiceReferences>Marijuana_dispensaries_producers_distributors</choiceReferences>
            <choiceReferences>Money_services_businesses</choiceReferences>
            <choiceReferences>Pay_day_loan_companies</choiceReferences>
            <choiceReferences>Real_estate</choiceReferences>
            <choiceReferences>Travel_Agencies</choiceReferences>
            <choiceReferences>Wireless_Phone_Accessories</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>663</locationX>
        <locationY>920</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessPage</name>
            <fieldText>Lead has been succesfully unqualified</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Unqualification_Reasons</name>
        <label>Unqualification Reasons</label>
        <locationX>654</locationX>
        <locationY>196</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Unqualified_reason_decision</targetReference>
        </connector>
        <fields>
            <name>Unqualified_Reason</name>
            <choiceReferences>Business_Closed</choiceReferences>
            <choiceReferences>Business_for_Sale</choiceReferences>
            <choiceReferences>Does_not_accept_credit_cards</choiceReferences>
            <choiceReferences>Competitor_Balance_Too_High</choiceReferences>
            <choiceReferences>Home_Based_Business</choiceReferences>
            <choiceReferences>Less_than_1_Year</choiceReferences>
            <choiceReferences>Not_the_Owner</choiceReferences>
            <choiceReferences>Prohibited_Business_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unqualified Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Lead_Lookup</startElementReference>
    <variables>
        <name>AcceptsCreditCards</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BusinessOpenDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GrossMonthlySales</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Unqualified</stringValue>
        </value>
    </variables>
</Flow>
